body {
    text-align: center;
}
a {
    text-align: center;
    margin-left: 50%;
}
input {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 280px;
    /* gap: 1.5rem; */
    padding: 1rem;
    border-radius: 15rem;
    height: 0.1px;
    background-origin: rgb(102, 94, 94);
  }
  button:hover {
    background-color: rgba(94, 87, 87, 0.226);
  }
  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10rem;
    transition: 500ms;
    width: 100px;
  }
  #form input {
    width: 100%;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: solid 1px var(--darkGray);
  }
div{
  background-color: rgba(0, 0, 0, 0.24);
  padding: 2rem 3rem;
  border-radius: 0.55rem;
}

  